* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

/* General header styles */
header {
    padding: 20px;
    color: #ffffff;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

/* Three letters 'seo' should be a slightly different color.
 * There's very little contrast between the span and the rest of the header, 
 * but there is contrast with the background. */
header h1 span {
    color: #d9dcd6;
}

/* Header navigation */
header nav {
    margin-right: 5px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
}

header nav a {
    color: #ffffff;
    display: block;
    padding: 15px;
    text-decoration: none;
}

header nav a:hover, 
header nav a:focus {
    text-decoration: underline;
}

/* The big central image */
.banner {
    height: 800px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}

/* The smaller images (inside main) */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* The central articles */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: #ffffff;
    background-color: #0072bb;
}

main article img {
    max-height: 200px;
}

main article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The sidebar */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    color: #ffffff;
    background-color: #2a607c;
}

aside section {
    margin-bottom: 32px;
}

aside section h2 {
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* General footer styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
